In [ ]:
import pandas as pd

In [ ]:
df_all=pd.read_table('/hackathon/Hackathon_Project_4/DEPTH/HUGE.txt')

In [5]:
df_all.head()

,chr22,1,2,0,0.1,0.2,0.3,0.4,0.5,0.6,...,0.134,Unnamed: 142,0.135,0.136,Unnamed: 145,0.137,0.138,0.139,0.140,0.141
0,chr22,2,3,0,0,0,0,0,0,0,...,0,NaN,0,0,NaN,0,0,0,0,0
1,chr22,3,4,0,0,0,0,0,0,0,...,0,NaN,0,0,NaN,0,0,0,0,0
2,chr22,4,5,0,0,0,0,0,0,0,...,0,NaN,0,0,NaN,0,0,0,0,0
3,chr22,5,6,0,0,0,0,0,0,0,...,0,NaN,0,0,NaN,0,0,0,0,0
4,chr22,6,7,0,0,0,0,0,0,0,...,0,NaN,0,0,NaN,0,0,0,0,0

In [9]:
df_all=df_all.dropna(axis=1,how='all')

In [ ]:
df_sum=df_all.ix[:10,0:].sum(1)

In [15]:
260/64.0

4.0625